<nav class="navbar bg-white">
    <div class="container ">
        <div class="d-flex mx-auto">
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-plus' style='color:#07e019'></i></div>
                <div>Create a resource</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-cloud' style='color:#260fe0'></i></div>
                <div>Azure Databricks</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-rocket' style='color:#1be239b2'></i></div>
                <div>Quickstart</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-cloud-download' style='color:#0af1c6'></i></div>
                <div>Virtual Machines</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-cube' style='color:#260fe0'></i></div>
                <div>App Services</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-cloud-upload' style='color:#1be239b2'></i></div>
                <div>Storage Accounts</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bxs-data' style='color:#0af1c6'></i></div>
                <div>SQL Database</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-globe' style='color:#260fe0'></i></div>
                <div>Azure Cosmos DB</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bxl-kubernetes' style='color:#1be239b2'></i></div>
                <div>Kubernetes</div>
            </a>
            <a class="nav-link text-center" routerLink="#">
                <div><i class='bx bx-dots-horizontal-rounded' style='color:#0af1c6'></i></div>
                <div>More Services</div>
            </a>
        </div>
    </div>
</nav>