<div class="offcanvas offcanvas-start custom-canvas" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"> <button class="btn " type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"><i class='bx bx-menu'
                    style='color:#1449dc;font-size: 30px;'></i></button></h5>
    </div>
    <div class="sidemenu">
        <ul>
            <li><a routerLink="#"><i class='bx bx-plus' style='color:#07e019'></i>  Create a resource</a></li>
            <li><a routerLink="#"> <i class='bx bxs-home' style='color:#260fe0'></i>  Home</a></li>
            <li><a routerLink="#"><i class='bx bx-bar-chart-square' style='color:#1be239b2'></i>  Dashboard</a></li>
            <li><a routerLink="#"><i class='bx bxs-food-menu' style='color:#0af1c6'></i>  All Services</a></li>
            <hr>
        </ul>
    </div>
</div>